$global-blue: #3176FF;
$global-dark-blue: #1F222A;
$global-backgraund-white: #f4f4f4;
$global-backgraund-grey: #EFEFEF;
$global-white: #FAFAFA;
$global-white-grey: #ebe5e5;
$global-grey-dark: #4F575C;
$glodal-grey-light: #D6D6D2;
$global-grey-footer: rgba(239, 239, 239, 0.7);
$global-black: #000;
$global-backgraund-main: #bab4b4;
$color-text: rgba(79, 87, 92, 0.8);