.contact {
	padding: 50px 0;

	&__heading {
		font-weight: 400;
		font-size: 20px;
		line-height: 28px;
		color: $global-dark-blue;
		margin-bottom: 20px;

		@media (min-width: 1024px) {
			font-size: 32px;
			line-height: 46px;
			margin-bottom: 40px;
		}
	}

	&__body {
		display: flex;
		flex-direction: column;

		@media (min-width: 1024px) {
			flex-direction: row-reverse;
		}
	}

	//! Справа----верх
	&__right {
		margin-bottom: 50px;

		@media (min-width: 1024px) {
			margin-bottom: 0;
			padding-left: 30px;
		}
	}

	&__title {
		font-weight: 500;
		font-size: 18px;
		line-height: 26px;
		color: $global-dark-blue;
		margin-bottom: 20px;
	}

	//! Слева-----низ
	&__left {
		@media (min-width: 1024px) {
			width: 50%;
		}
	}

	&__item {
		display: flex;
		flex-wrap: wrap;
	}
}

//TODO форма вынесена отдельным файлом
.form__button {
	width: 100%;

	@media (min-width: 1024px) {
		width: initial;
	}
}

//! Слева-----низ
.contact-tile {
	width: 100%;
	margin-bottom: 30px;

	@media (min-width: 1024px) {
		width: 50%;
	}

	&__heading {
		display: flex;
		margin-bottom: 20px;

		@media (min-width: 1024px) {
			flex-direction: column;
		}
	}

	&__flag {
		width: 24px;
		height: 18px;
		margin-right: 10px;

		@media (min-width: 1024px) {
			margin-bottom: 10px;
		}

		img {
			width: 100%;
		}
	}

	&__country {
		font-weight: 500;
		font-size: 18px;
		line-height: 26px;
		color: $global-dark-blue;
	}

	&__body {
		font-weight: 400;
		font-size: 16px;
		line-height: 22px;
		color: $global-grey-dark;
	}

	&__address {
		margin-bottom: 10px;
	}

	&_type {
		&_center {
			display: flex;
			align-items: center;
			margin-bottom: 0;
		}
	}
}

.social {
	&__title {
		font-weight: 400;
		font-size: 16px;
		line-height: 24px;
		margin-bottom: 24px;
	}

	&__list {
		display: flex;
		gap: 20px;
	}

	&__item {
		width: 64px;
		height: 64px;
	}
}